/*variables*/

:root{
    --primary-brand-color:#4D5AE5;
    --dark-color: #2E2F42;
    --success-color:#31D0AA;
    --text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --background-light-color: #E5E5E5;
    --white-color: #fff;
    --black-color: #000;

}


/*general*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}


.logo{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--primary-brand-color);
    letter-spacing: 0.03em;
}

.logo-light{
    color: var(--light-color);
}

.logo-dark {
    color: var(--dark-color);
}

.heading-primary {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07142857143;
    color: var(--white-color);
    line-height: 60px;
    text-align: center;
    margin-bottom: 48px;
}

.heading-secondary{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    text-align: center;
}

.heading-tertiary {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: var(--text-color);
}

.padding-top{
    padding-top: 120px;
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

.btn,
.btn::after {
    text-decoration: none;
    display: flex;
    border-radius: 4px;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    cursor: pointer;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    font-family: inherit;
}

.btn:hover,
.btn:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #404BBF;
    color: var(--white-color);
    border: none;
}

.btn-dark {
    background-color: var(--primary-brand-color);
    color: var(--white-color);
}

.btn-light {
    background-color: var(--light-color);
    color: var(--primary-brand-color);
    border: 1px solid var(--accent-color);
    display: inline;
}


/*header*/

.header{
    background-color: var(--white-color);
    width: 1440px;
    height: 72px;
    border-bottom: 1px solid #E7E9FC;
}

.header-box{
    display: flex;
    line-height: 1.5;
    padding: 24px 156px;
}

.navigation-list{
    display: flex;
    margin-left: 76px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.navigation-link{
    color: var(--dark-color);
}

.navigation-link:hover,
.navigation-link:focus{
    color: var(--primary-brand-color);
}

.navigation-item~.navigation-item{
    margin-left: 40px;
}

.header-contact{
    display: flex;
    margin-left: 332px;
    font-size: 16px;
    line-height: 1.5;
}

.header-contact-link{
    color: var(--text-color);
}

.header-contact-link:hover{
    color: var(--primary-brand-color);
}

.header-contact-item~.header-contact-item{
    padding-left: 40px;
}


/*order*/

.order{
    width: 1440px;
    height: 600px;
    background-color: var(--dark-color);
    position: relative;
}

.order-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/*features*/

.features{
    width: 1440px;
    height: 344px;
    background-color: var(--background-light-color);
    position: relative;
        
}

.row{
    max-width: 1128px;
    margin: 0 auto;
}

.features-box{
    position: absolute;
    top: 50%;
    left: 156px;
    transform: translateY(-50%);
}

.paragraph-features{
    padding-top: 8px;
}

.col-1-of-4 {
    float: left;
    width: calc((100% - 3 * 1128px) / 4);
    height: 104px;
    width: 264px;
}

.col-1-of-4~.col-1-of-4 {
    margin-left: 24px;
}



/*about*/

.about{
    width: 1440px;
    height: 532px;
    background-color: var(--background-light-color);
    position: relative;
}

.about-box{
    position: absolute;
    top: 50%;
    left: 156px;
    transform: translateY(-50%);
}

.col-1-of-3 {
    float: left;
    width: calc((100% - 2 * 1128px) / 3);
    height: 300px;
    width: 360px;
    
}

.col-1-of-3~.col-1-of-3 {
    margin-left: 24px;
}



/*team*/

.team{
    width: 1440px;
    height: 732px;
    background-color: var(--light-color);
    position: relative;
}

.team-box{
    position: absolute;
    left: 156px;
    padding-top: 72px;
}

.team-item{
    width: 264px;
    height: 380px;
    background-color: white;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.heading-tertiary-team{
    text-align: center;
    padding-top: 32px;
}

.paragraph-team{
    text-align: center;
    padding-top: 8px;
}



/*footer*/

.footer{
    width: 1440px;
    height: 310px;
    background-color: var(--dark-color);
    position: relative;
}

.footer-box{
    width: 264px;
    height: 110px;
    position: absolute;
    padding-top: 100px;
    padding-left: 156px;
}

.paragraph-footer{
    color: var(--accent-color);
    padding-top: 16px;
}



/*portfolio*/

.portfolio{
    width: 1440px;
    height: 1692px;
    background-color: var(--background-light-color);
    position: relative;
}

.portfolio-item{
    width: 360px;
    height: 420px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid var(--accent-color);
}

.portfolio-list{
    display: flex;
    margin-top: 48px;
}

.portfolio-heading-tertiary{
    padding-top: 32px;
    padding-left: 16px;
}

.portfolio-paragraph{
    padding-top: 8px;
    padding-left: 16px;
}

.portfolio-btn-list{
    display: flex;
    padding-top: 96px;
    padding-left: 427px;
    padding-bottom: 24px;
}

.portfolio-btn{
    float: left;
}

.portfolio-btn:not(:last-child){
    margin-right: 24px;
}